In [2]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import os
import pandas as pd

# to make this notebook's output stable across runs
np.random.seed(42)

### Introduction to Finance

Welcome Kagglers!  We are excited to offer new financial datasets.  These datasets will contain the company financial statements as well as historical stock trends. In addition, we have included adjacent metrics like google trends to see if these perhaps have an impact on stock price.  This is only a start, so please share ideas of financial data that you would like to see!

To completment these datasets, we have created finance 101 tutorials to provide a brief overview of finance prior jumping into the data. These 101s are optional, but highly recommended for beginners.

The introduction to finance 101's are designed for two audiences in mind.

1) Kagglers new to finance
  + We will teach you finance, python, and give you the confidence to navigate the age of Big Data.
2) Kagglers currently working in finance
  + We will teach you that Python so that you can graduate from Excel spreadsheets to the Python notebooks!

Welcome to Finance 101: Financial Statements and Company Valuation.

We will cover a lot of material in this 101, so grab a coffee and let's start digging in!

Topics include:
    + Financial Statement Overview
    + Company Valuation Overview
    + Company Valuation Examples
    + Python Script and Tips
    + Humor because everything is better with a smile!

First, let's define some of the basics by giving an overview of financial statements:

Income Statement: The income statement is a summary of a business's performance over a period of time.  An income statement contains revenue and expenses.  It ultimately answers the question did the company make money over the specified time period.  You can think of an income statement similiar to your checking account.  For example, over the last 3 months was your income higher than your expenses?

Balance Sheet: A balance sheet is a snapshot in time of a company's health at a given point in time that seperates out assets from liabilities.  An asset is anything of value such as a piece of property or a piece of machineary.  In personal finance, an asset would be anything you own outright such as a car or any investments that you may have such as 401k retirement savings.  A liability is a debt that is owed by the company to another party.  In personal finance, a liability would be short term credit card debt or a mortgage.  The balance sheet also illustrates how a company finances its operations with debt or equity.  We will discuss capital structure in another session.

Cash Flow Statement: The cash flow statement illustrates how changes in the income statement and balance sheet affect cash flow.  This is a critical statement to understand because the most common reason that companies go bankrupt is due to lack of cash flow.  The cash flow statement categorizes cash into operating, investing, and financing activities.  As a general rule of thumb, business's aim to have operating profit (income) be converted to cash on a 1 to 1 basis.  We can dig more into this later.  In personal finance, you can analyze your cash flow to see how much money you are able to invest after your everyday expenses are deducted from your income.  The higher the better.

Ok, now that we have a basic understanding of how a company organizes it's finances, let's jump into how companies are valued.

The dividend discount model is a great place to start when calculating company value because it illustrates the basic principles of company valuation.  This model assumes that "A share of a company is worth the present value of all the cash flows an investor expects to pocket from it." (1)  In a very simplistic world, this is similiar to how a bond is valued.  An investor buys a bond for an expected yield (i.e. 3%) and the bond price is determined according to this yield.  In terms of stocks, a dividend is similiar to a bond yield because it is the cash that an investor receives from the investment.    In the simplest form a company is worth it's dividend (D) divided by a required return on equity (R), which we will discuss more in depth later.

Value = D / R

The dividend discount is pretty simple.  However, in the real world it is probably not very accurate because the underlying principle,(ie bond and stock investment) can change and the investor isn't guaranteed to receive their orginal investment back.  Either way, the fundamentals of the dividend discount model hold true throughout all company valuation models.  In other words, a company's value is based off of future cash flows given to investors.  As we will see with the next company valuation model the art of company valuation is replacing the dividend with a better estimate of cash flows that the investor can expect.

Now let's move onto the most popular discounted cash flow company valuation method: the weighted-average cost of capital (WACC).  The WACC model estimates a company's cash flow and then uses a discount rate to determine the company's intrinsic value.  As we build this model, we will further explore the financial statements.  

The WACC model can be described below:

V = D + E

Where V is the company value, D is the value of the companies debt and E is the value of the companies equity.  A company's balance sheet is based on a formula where assets = debts to equity.  Debts and equity are instruments that a company uses to finance it's operations.  For example, if a company issues stock for $100 and borrows debt of $200, then it receives cash (an asset) for $300.  In this case, the assets of $300 equal the liabilities of $200 plus the equity of $100.  Therefore, the WACC model just states that the company is worth $300 or the value it has received from financing instruments of stocks and bonds.
Nothing is ever free, so the company must pay the bondholder and stockholders a return for their $300 invesment.  This return is called the cost of capital or in laymen terms, the cost for raising money to run a business.

RWACC = (1–tc)·xD·RD + xE ·RE



Next, we are going to execute some basic python code where we will review the company financial statements and also analyze financial trends.

In [39]:
bs = pd.read_csv("CAT_BS.csv")

In [43]:
bs

,Accounts,Category,TY2016,TY2015
0,Cash and short-term investments,Assets,7168,6460
1,Receivables - trade and other,Assets,5981,6695
2,Receivables - finance,Assets,8522,8991
3,Prepaid expenses and other current assets,Assets,1682,1662
4,Inventories,Assets,8614,9700
5,"Property, plant and equipment - net",Assets,15322,16090
6,Long-term receivables - trade and other,Assets,1029,1170
7,Long-term receivables - finance,Assets,13556,13651
8,Noncurrent deferred and refundable income taxes,Assets,2790,2489
9,Intangible assets,Assets,2349,2821
10,Goodwill,Assets,6020,6615
11,Other assets,Assets,1671,1998
12,"Machinery, Energy & Transportation",Liability,209,9
13,Financial Products,Liability,7094,6958
14,Accounts payable,Liability,4614,5023
15,Accrued expenses,Liability,3003,3116
16,"Accrued wages, salaries and employee benefits",Liability,1296,1994
17,Customer advances,Liability,1167,1146
18,Dividends payable,Liability,452,448
19,Other current liabilities,Liability,1635,1671
20,"Machinery, Energy & Transportation",Liability,507,517
21,Financial Products,Liability,6155,5360
22,"Machinery, Energy & Transportation",Liability,8436,8960
23,Financial Products,Liability,14382,16209
24,Liability for postemployment benefits,Liability,9357,8843
25,Other liabilities,Liability,3184,3203
26,Common stock of $1.00 par value: Authorized sh...,Stockholder Equity,5277,5238
27,"Treasury stock: (2016 � 228,408,600 shares; an...",Stockholder Equity,-17478,-17640
28,Profit employed in the business,Stockholder Equity,27377,29246
29,Accumulated other comprehensive income (loss),Stockholder Equity,-2039,-2035
30,Noncontrolling interests,Stockholder Equity,76,76

In [41]:
bs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
Accounts    31 non-null object
Category    31 non-null object
TY2016      31 non-null int64
TY2015      31 non-null int64
dtypes: int64(2), object(2)
memory usage: 1.0+ KB

In [42]:
bs.groupby(['Category'])['TY2016'].sum()

Category
Assets                74704
Liability             61491
Stockholder Equity    13213
Name: TY2016, dtype: int64

In [128]:
is_df = pd.read_csv("CAT_IS.csv")

In [129]:
is_df

,Account,TY2016,TY2015,TY2014
0,"Sales of Machinery, Energy & Transportation",35773.00,44147.00,52142.0
1,Revenues of Financial Products,2764.00,2864.00,3042.0
2,Total sales and revenues,38537.00,47011.00,55184.0
3,Cost of goods sold,28309.00,33546.00,40718.0
4,"Selling, general and administrative expenses",4686.00,4951.00,6529.0
5,Research and development expenses,1951.00,2119.00,2380.0
6,Interest expense of Financial Products,596.00,587.00,624.0
7,Goodwill impairment charge,595.00,0.00,0.0
8,Other operating (income) expenses,1902.00,2023.00,1619.0
9,Total operating costs,38039.00,43226.00,51870.0
10,Operating profit,498.00,3785.00,3314.0
11,Interest expense excluding Financial Products,505.00,507.00,484.0
12,Other income (expense),146.00,161.00,322.0
13,Consolidated profit before taxes,139.00,3439.00,3152.0
14,Provision (benefit) for income taxes,192.00,916.00,692.0
15,Profit (loss) of consolidated companies,-53.00,2523.00,2460.0
16,Equity in profit (loss) of unconsolidated affi...,-6.00,0.00,8.0
17,Net Income,-59.00,2523.00,2468.0
18,Basic Shares Outstanding (millions),584.30,594.30,617.2
19,Cash dividends declared per common share (in d...,3.08,3.01,2.7

In [138]:
cf_df = pd.read_csv("CAT_CF.csv")

In [139]:
cf_df

,Account,Category,TY2016,TY2015,TY2014
0,Net Income,Operating Activity,-59,2523,2468
1,Depreciation and amortization,Operating Activity,3034,3046,3163
2,Actuarial (gain) loss on pension and postretir...,Operating Activity,985,179,2624
3,Provision (benefit) for deferred income taxes,Operating Activity,-431,-307,-954
4,Goodwill impairment charge,Operating Activity,595,0,0
5,Other,Operating Activity,856,453,470
6,Receivables - trade and other,Operating Activity,829,764,163
7,Inventories,Operating Activity,1109,2274,101
8,Accounts payable,Operating Activity,-200,-1165,222
9,Accrued expenses,Operating Activity,-201,-199,-10
10,"Accrued wages, salaries and employee benefits",Operating Activity,-708,-389,901
11,Customer advances,Operating Activity,-37,-501,-593
12,Other assets - net,Operating Activity,224,143,-139
13,Other liabilities - net,Operating Activity,-388,-146,-359
14,Capital expenditures - excluding equipment lea...,Investing Activity,-1109,-1388,-1539
15,Expenditures for equipment leased to others,Investing Activity,-1819,-1873,-1840
16,Proceeds from disposals of leased assets and p...,Investing Activity,899,760,904
17,Additions to finance receivables,Investing Activity,-9339,-9929,-11278
18,Collections of finance receivables,Investing Activity,9369,9247,9841
19,Proceeds from sale of finance receivables,Investing Activity,127,136,177
20,Investments and acquisitions (net of cash acqu...,Investing Activity,-191,-400,-30
21,Proceeds from sale of businesses and investmen...,Investing Activity,0,178,199
22,Proceeds from sale of securities,Investing Activity,694,351,810
23,Investments in securities,Investing Activity,-391,-485,-825
24,Other - net,Investing Activity,0,-114,-46
25,Dividends paid,Financing Activity,-1799,-1757,-1620
26,Distribution to noncontrolling interests,Financing Activity,-8,-7,-7
27,Contribution from noncontrolling interests,Financing Activity,0,0,4
28,"Common stock issued, including treasury shares...",Financing Activity,-23,33,239
29,Treasury shares purchased,Financing Activity,0,-2025,-4238
30,Excess tax benefit from stock-based compensation,Financing Activity,28,24,182
31,"Machinery, Energy & Transportation",Financing Activity,6,3,1994
32,Financial Products,Financing Activity,5109,5129,8655
33,"Machinery, Energy & Transportation",Financing Activity,-533,-517,-785
34,Financial Products,Financing Activity,-6032,-7775,-8463
35,Short-term borrowings - net (original maturiti...,Financing Activity,140,3022,1043
36,Net cash provided by (used for) financing acti...,Financing Activity,-3112,-3870,-2996
37,Effect of exchange rate changes on cash,FX,-28,-169,-174
38,Increase (decrease) in cash and short-term inv...,Total,708,-881,1260
39,Cash and short-term investments at beginning o...,Total,6460,7341,6081

Excel tip: 'Groupby' in python gives a summary of the data that is similiar to Excel's pivot table. I have attached the '.sum()' method to the groupby command to provide the sum for each category of the balance sheet.

In [109]:
cf_df.groupby(['Category'])['TY2016','TY2015', 'TY2014'].sum()

                    TY2016  TY2015  TY2014
Category
FX                     -28    -169    -174
Financing Activity   -6224   -7740   -5992
Investing Activity   -1760   -3517   -3627
Operating Activity    5608    6675    8057
Total                 7168    6460    7341

We have now converted the three financial statements into databases in python.  Next we will estimate CAT's free cash flow by selecting information from each financial statement.

Free cash flow (FCF) is calculated by the following formula:

#### FCF = Net Income + Depreciation - Capital Expenditures - Increase in Working Capital + After-tax interest

Who that's a pretty long formula, but for those that have ever studied Machine Learning the FCF formula thankfully doesn't have anything to do with linear algebra! 

The componets of the FCF equation reside on several financial statements and we will define the componets as we add them to a database.  Now let's roll up those sleeves because it's time to do some data wrangling to calculate FCF.

First, we will start by pulling net income from the income statement and adding it to our FCF database.  I remember that Net Income was at the bottom of the Income Statement, so let's pull the last few rows to find it.  The 'tail()' method in python allows you to pull the last five rows of a database.  I see that net income is row 17 of the income statement.  

Net Income is the amount of profit or loss a company earns during a particular time period.  It is the starting point of the FCF calculation because it represents the cash available after revenue and expenses have all been accounted.  It's no different than balancing your check book to see how much cash you have available to utilize for the future.

In [100]:
is_df.tail()

                                          Description  TY2016   TY2015  TY2014
15            Profit (loss) of consolidated companies  -53.00  2523.00  2460.0
16  Equity in profit (loss) of unconsolidated affi...   -6.00     0.00     8.0
17                                         Net Income  -59.00  2523.00  2468.0
18                Basic Shares Outstanding (millions)  584.30   594.30   617.2
19  Cash dividends declared per common share (in d...    3.08     3.01     2.7

Okay, that's great, but how do I take row 17 and add it to another database.  This action of removing a row from a database is called 'Slicing' in python.  There are many ways to slice a database but the safest way is to actually call out the name of the item that you want to move.  For example, the code below first states that I want access the income statement dataframe 'is_df['
and then once I am in that data frame, I want to look into the description column and access the row that is called 'Net Income'.

Excel Tip: This slicing example is similiar to doing a vlookup for a criteria in Excel.

In [102]:
#is_df[is_df.Description == 'Net Income']

   Description  TY2016  TY2015  TY2014
17  Net Income   -59.0  2523.0  2468.0

In [ ]:
Ok, now we will add this row to a dataframe by creating a new variable called FCF_df.

In [132]:
#FCF_df = is_df[is_df.Account == 'Net Income']

In [133]:
#FCF_df

       Account  TY2016  TY2015  TY2014
17  Net Income   -59.0  2523.0  2468.0

#### FCF = Net Income + Depreciation - Capital Expenditures - Increase in Working Capital + After-tax interest

Ok, so depreciation, capital expenditures, and working capital are all on the statement of cash flows, so we will gather that information and place it into our FCF_df.  But before we do that let's take a look at the statement of cash flows database to see where these items reside.

In [144]:
cf_df

,Account,Category,TY2016,TY2015,TY2014
0,Net Income,Operating Activity,-59,2523,2468
1,Depreciation and amortization,Operating Activity,3034,3046,3163
2,Actuarial (gain) loss on pension and postretir...,Operating Activity,985,179,2624
3,Provision (benefit) for deferred income taxes,Operating Activity,-431,-307,-954
4,Goodwill impairment charge,Operating Activity,595,0,0
5,Other,Operating Activity,856,453,470
6,Receivables - trade and other,Operating Activity,829,764,163
7,Inventories,Operating Activity,1109,2274,101
8,Accounts payable,Operating Activity,-200,-1165,222
9,Accrued expenses,Operating Activity,-201,-199,-10
10,"Accrued wages, salaries and employee benefits",Operating Activity,-708,-389,901
11,Customer advances,Operating Activity,-37,-501,-593
12,Other assets - net,Operating Activity,224,143,-139
13,Other liabilities - net,Operating Activity,-388,-146,-359
14,Capital expenditures - excluding equipment lea...,Investing Activity,-1109,-1388,-1539
15,Expenditures for equipment leased to others,Investing Activity,-1819,-1873,-1840
16,Proceeds from disposals of leased assets and p...,Investing Activity,899,760,904
17,Additions to finance receivables,Investing Activity,-9339,-9929,-11278
18,Collections of finance receivables,Investing Activity,9369,9247,9841
19,Proceeds from sale of finance receivables,Investing Activity,127,136,177
20,Investments and acquisitions (net of cash acqu...,Investing Activity,-191,-400,-30
21,Proceeds from sale of businesses and investmen...,Investing Activity,0,178,199
22,Proceeds from sale of securities,Investing Activity,694,351,810
23,Investments in securities,Investing Activity,-391,-485,-825
24,Other - net,Investing Activity,0,-114,-46
25,Dividends paid,Financing Activity,-1799,-1757,-1620
26,Distribution to noncontrolling interests,Financing Activity,-8,-7,-7
27,Contribution from noncontrolling interests,Financing Activity,0,0,4
28,"Common stock issued, including treasury shares...",Financing Activity,-23,33,239
29,Treasury shares purchased,Financing Activity,0,-2025,-4238
30,Excess tax benefit from stock-based compensation,Financing Activity,28,24,182
31,"Machinery, Energy & Transportation",Financing Activity,6,3,1994
32,Financial Products,Financing Activity,5109,5129,8655
33,"Machinery, Energy & Transportation",Financing Activity,-533,-517,-785
34,Financial Products,Financing Activity,-6032,-7775,-8463
35,Short-term borrowings - net (original maturiti...,Financing Activity,140,3022,1043
36,Net cash provided by (used for) financing acti...,Financing Activity,-3112,-3870,-2996
37,Effect of exchange rate changes on cash,FX,-28,-169,-174
38,Increase (decrease) in cash and short-term inv...,Total,708,-881,1260
39,Cash and short-term investments at beginning o...,Total,6460,7341,6081

Ok, I see Net Income in row 0, Depreciation in row 1 and capital expenditures are in row 14.  But what about working capital?  It doesn't appear to be on the list?  Working capital is defined as short term assets and liabilities that can readily be converted to cash in under a year.  It is made up of rows 6 - 10 (Receivables, Inventory, Accounts Payable, and Accrued Costs).

Let's now add depreciation to our FCF_df using the same code logic that we added Net Income.  Notice that we have modified the code to access the cf database.

In [175]:
FCF_df = cf_df[cf_df.Account == 'Net Income']

In [176]:
FCF_df= FCF_df.append(cf_df[cf_df.Account == 'Depreciation and amortization'])

In [177]:
FCF_df = FCF_df.append(cf_df[14:15])
# Another way to slice data in a dataframe is by selecting the rows that you want.
#Python start with row zero, so be mindful of this when slicing data by numbers.

In [178]:
FCF_df

,Account,Category,TY2016,TY2015,TY2014
0,Net Income,Operating Activity,-59,2523,2468
1,Depreciation and amortization,Operating Activity,3034,3046,3163
14,Capital expenditures - excluding equipment lea...,Investing Activity,-1109,-1388,-1539

In [179]:
#Lets now add rows 6 thru 10 to include working capital
FCF_df = FCF_df.append(cf_df[6:11])

In [180]:
FCF_df

,Account,Category,TY2016,TY2015,TY2014
0,Net Income,Operating Activity,-59,2523,2468
1,Depreciation and amortization,Operating Activity,3034,3046,3163
14,Capital expenditures - excluding equipment lea...,Investing Activity,-1109,-1388,-1539
6,Receivables - trade and other,Operating Activity,829,764,163
7,Inventories,Operating Activity,1109,2274,101
8,Accounts payable,Operating Activity,-200,-1165,222
9,Accrued expenses,Operating Activity,-201,-199,-10
10,"Accrued wages, salaries and employee benefits",Operating Activity,-708,-389,901

In [188]:
import numpy as np
total = FCF_df.apply(np.sum)
total['Account'] = 'Total'
total['Category'] = ' '
FCF_df.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

,Account,Category,TY2016,TY2015,TY2014
0,Net Income,Operating Activity,-59,2523,2468
1,Depreciation and amortization,Operating Activity,3034,3046,3163
2,Capital expenditures - excluding equipment lea...,Investing Activity,-1109,-1388,-1539
3,Receivables - trade and other,Operating Activity,829,764,163
4,Inventories,Operating Activity,1109,2274,101
5,Accounts payable,Operating Activity,-200,-1165,222
6,Accrued expenses,Operating Activity,-201,-199,-10
7,"Accrued wages, salaries and employee benefits",Operating Activity,-708,-389,901
8,Total,,2695,5466,5469

Oh no! The income statement categorized Net Income in the 'Description' column and the cash flow statement categorized Depreciation in the 'Account' column.  This has caused a mess with our dataframe, so let's fix this by deleting the 'Description' column and moving Net Income to the 'Account' column.

Do EDA on sales, profit, CFOA, Total Assets, Total Liabilities, dividends

Please upvote this post if you would like to learn more about the basics of finance and company valuation.  Also, please share your comments, so that we can tailor the training to your interests!

Therefore, to estimate the intrinsic value of an individual share, we need to divide our estimate of the intrinsic value of equity by the number of shares outstanding

3
down vote
I'm not an expert, but here is my best hypothesis. On Microsoft's (and most other company's) cash flow statements, they use the so-called "indirect method" of accounting for cash flow from operations. How that works, is they start with net income at the top, and then adjust it with line items for the various non-cash activities that contributed to net income. The key phrase is that these are accounting for the non-cash activities that contribute to net income. If the accounts receivable amount changes from something other than operating activity (e.g., if they have to write off some receivables because they won't be paid), the change didn't contribute to net income in the first place, so doesn't need to be reconciled on the cash flow statement.

Works Cited:
1. The Financial Times Guide to Understanding Finance, 2nd Edition by Javier Estrada Published by Pearson Business, 2011